@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Lobster+Two&family=Yellowtail&display=swap");
* {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.ui-btn {
  --btn-default-bg: white;
  --btn-padding: 15px 20px;
  --btn-hover-bg: white;
  --btn-transition: .3s;
  --btn-letter-spacing: .1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --hover-btn-color: #0d3d63;
  --default-btn-color: rgb(41, 41, 41);
  --font-size: 50px;
  --font-family: "bebas neue", sans-serif;
  text-transform: uppercase;
}

.ui-btn {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
}

.ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.ui-btn:hover, .ui-btn:focus {
  background: var(--btn-hover-bg);
}

.ui-btn:hover span, .ui-btn:focus span {
  color: var(--hover-btn-color);
}

.ui-btn:hover span::before, .ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
  }
  5% {
    content: ".";
  }
  10% {
    content: "";
  }
  15% {
    content: "-!";
  }
  20% {
    content: "#$_";
  }
  25% {
    content: "№:0";
  }
  30% {
    content: "+.";
  }
  35% {
    content: "@-?";
  }
  40% {
    content: "4@%";
  }
  45% {
    content: "=.,^!";
  }
  50% {
    content: "?2@%";
  }
  55% {
    content: "\1]";
  }
  60% {
    content: "%:%";
    right: 0;
  }
  65% {
    content: "f[4";
    right: 0;
  }
  70% {
    content: 4% 0%;
    right: 0;
  }
  75% {
    content: "'1_0<";
    right: 0;
  }
  80% {
    content: 0%;
    right: 0;
  }
  85% {
    content: "]>'";
    right: 0;
  }
  90% {
    content: "4";
    right: 0;
  }
  95% {
    content: "2";
    right: 0;
  }
  100% {
    content: "";
    right: 0;
  }
}
.transition1 {
  background-image: url("https://r4.wallpaperflare.com/wallpaper/203/697/217/fkyhdino-landscape-artwork-mountains-wallpaper-49b0987d411a8deb26e738df3091662d.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  z-index: 10;
  font-family: "Caveat", cursive;
  height: 314px;
}

.transition2 {
  background-image: url("https://r4.wallpaperflare.com/wallpaper/339/179/774/digital-art-low-poly-artwork-minimalism-wallpaper-7836ad3840b03c28007c615ef852941a.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  z-index: 10;
  font-family: "Caveat", cursive;
  height: 314px;
}

.transition3 {
  background-image: url("https://r4.wallpaperflare.com/wallpaper/52/465/301/illustration-landscape-digital-art-mountains-wallpaper-50f055697ff63eb3883fc7f67ba6b4b8.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  z-index: 10;
  font-family: "Caveat", cursive;
  height: 314px;
}

.ajuste {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

.social-links, .flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-family: "Titillium Web", sans-serif;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: white;
  margin: 5px;
  transition: 0.3s;
  justify-content: center;
}

.social-btn svg {
  height: 24px;
  width: 24px;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
  margin-left: 5px;
}

.social-btn:hover {
  width: 150px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 2px;
  width: 80px;
}

#twitter svg {
  fill: #1da1f2;
}

#linkedin svg {
  fill: #0e76a8;
}

#github {
  fill: #333;
}

nav {
  width: 100%;
  backdrop-filter: blur(1.2px) saturate(135%);
  -webkit-backdrop-filter: blur(1px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.062);
  position: sticky !important;
  top: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  z-index: 10;
  padding-bottom: 15px;
  border-radius: 0px 0px 12px 12px;
}

li {
  list-style: none;
  display: flex;
  align-items: flex-end;
}

.icon {
  padding: 0px 10px 0px 10px;
  font-size: 30px;
  font-family: "Yellowtail", cursive;
  color: black;
  text-decoration: none;
}

.a {
  height: 100%;
  width: 100%;
  font-size: 20px;
  font-family: "bebas neue", sans-serif;
  color: black;
  text-decoration: none;
  z-index: 10;
}

.btn {
  height: 100%;
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1.3em 1.5em;
  position: relative;
  transition-delay: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: 0.5s ease;
}
.btn:hover {
  color: #1e1e2b;
  transition-delay: 0.5s;
}
.btn:hover::before {
  width: 100%;
}
.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: 0.4s ease;
  z-index: -1;
}
.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}

main {
  display: flex;
  align-items: center;
  gap: 15px;
  color: black;
  font-family: poppins, sans-serif;
}

.card {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.card .fila {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.card .fila h1 {
  font-size: 30px;
}
.card .fila p {
  font-size: 30px;
  color: #53c9b3;
}

h2 {
  font-size: 20px;
  color: #53c9b3;
}

.img-vector {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.img-vector img {
  width: 100%;
  height: 50%;
}

.tecnologias {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 30%;
}

.redes {
  display: flex;
  align-items: center;
  gap: 15px;
  color: black;
  font-family: poppins, sans-serif;
}

.img-vector {
  padding: 15px;
}
.img-vector img {
  width: 80%;
  height: 80%;
}

.contact {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.contact .fila {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.contact .fila h1 {
  font-size: 30px;
}
.contact .fila p {
  font-size: 30px;
  color: #53c9b3;
}
.contact .fila span {
  font-size: 15px;
  color: #53c9b3;
}

#ppp {
  padding-left: 2px;
  align-items: center;
}

.ajuste1 {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}
.ajuste1 h2 {
  padding-top: 5px;
}
.ajuste1 .icon {
  text-align: center;
  margin-bottom: 5px;
}

.fila_icons {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icons_redes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.icons_redes a {
  width: 40px;
  height: 40px;
}
.icons_redes a img {
  width: 100%;
  height: 100%;
}

.division {
  display: flex;
  gap: 15px;
}

.topped {
  display: grid;
  place-items: center;
  background: white;
  padding: 1.4em;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: transform 0.5s;
}

.topped:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgb(255, 255, 255), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.5em);
}

.topped img {
  transition: transform 0.5s;
}

.topped:hover img {
  transform: scale(0.9);
  fill: #333333;
}

.projects {
  display: flex;
  align-items: center;
  gap: 15px;
  color: black;
  font-family: poppins, sans-serif;
}

.proyectos {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.proyectos .fila {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.proyectos .fila h1 {
  font-size: 30px;
}
.proyectos .fila p {
  font-size: 30px;
  color: #53c9b3;
}/*# sourceMappingURL=style.css.map */